body {
  background-color: cornflowerblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: black;
  height: 60%;
  width: 40%;
  border-radius: 0.5rem;
  overflow: hidden;
}

#image-carousel {
  position: absolute;
  display: flex;
  min-width: 2800px;
  gap: 10.1rem;
  height: 60%;
  padding-left: 6rem;
}

img {
  border-radius: 1rem;
}

#arrow-div {
  position: absolute;
  top: 40%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
}

.arrow-btn {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

ul {
  position: absolute;
  width: 90%;
  bottom: 5%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-left: 3rem;
}

li {
  list-style-type: none;
}

li > button {
  height: 1rem;
  border-radius: 50%;
}
