body {
  background-color: cornflowerblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 60%;
  width: 50%;
  border-radius: 0.5rem;
}

#image-carousel {
  position: relative;
  display: flex;
  gap: 5rem;
  height: 70%;
  width: 60%;
  overflow: hidden;
}

img {
  height: 100%;
  border-radius: 0.5rem;
}

/* #arrow-div {
  position: absolute;
  top: 40%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.arrow-btn {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

ul {
  position: absolute;
  bottom: 5%;
  display: flex;
  gap: 1rem;
  padding: 0;
}

li {
  list-style-type: none;
}

li > button {
  height: 1rem;
  border-radius: 50%;
} */
